<div *ngIf="contacts.length >= 1">
  <mat-nav-list [attr.dense]="isSmallScreen ? true : null">
    <ca-contact-list-item *ngFor="let contact of contacts" [contact]="contact" [isSmallScreen]="isSmallScreen"
                        (deleteContact)="onContactDelete($event)"
                        (submitContact)="submitContact(false, $event)">
    </ca-contact-list-item>
  </mat-nav-list>
</div>
<div>test</div>
<div *ngIf="!contacts.length && !isProcessing">
  <br>
  No contacts to show here...
</div>
<div *ngIf="!contacts.length && isProcessing">
  <br>
  <table cellpadding="5"><tr><td><mat-spinner color="accent" [diameter]="25"></mat-spinner></td><td>Please wait while contacts are being fetched...</td></tr></table>
</div>
<div>
  <button class="ca-fab" (click)="addContact()"><p class="ca-plusSign">+</p></button>
</div>
