<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="toolbar" fxLayoutAlign="left center">
    <button mat-icon-button class="icons" mat-list-icon="list" (click)="sidenav.toggle()"><mat-icon fxLayoutAlign="left center">list</mat-icon></button> &emsp; <h1>{{title}}</h1>
  </mat-toolbar>
  <div fxLayout="row" fxFlex>
    <mat-sidenav-container fxFlex>
      <mat-sidenav #sidenav class="navbar">
        <button class="sidenavButton" mat-raised-button (click)="sidenav.close(); showAddUser()">Add user</button>
        <br>
        <button class="sidenavButton" mat-raised-button (click)="sidenav.close(); showListUsers()">List users</button>
      </mat-sidenav>
    <div class="main-area" fxLayout="column" fxFlexFill>
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-container>
  </div>
</div>
